footer
  p
    a(href='https://evrstr.cc/',target='_blank') 博客
    |
    a(href='/manage',target='_blank')= __('manage')
  p ©2020 - 2021 By 御驾亲征

-if(g_config.custom_script)
  .
    !{g_config.custom_script}